.bannerContent img {
  width: 285px;
  margin-bottom: 20px;
  margin-top: 100px;
}
.productiveImg {
  text-align: center;
}
.mainContent {
  padding: 25px;
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
}
.mainContent a {
  color: hsl(176, 68%, 64%);
}
.clicking{
  display: flex;
}
.clicking img{
  width: 20px;
  margin: 0;
}
@media (min-width: 1440px) {
  .bannerContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bannerContent .productiveImg{
    width: 500px;
  }
  .mainContent{
    width: 500px;
  }
  .maincontent h2{
    font-size: 15px;
  }
}